<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1> Welcome to Go Home !!! </h1>
    <p> You are currently viewing the home page from the backend GO application </p>
    <button onclick="window.location='/backendsecond'" style="background-color: lightblue">
        Second Backend Page
    </button>
    <button onclick="window.location='/'" style="background-color: teal">
        VueJS Home Page
    </button>
    <button onclick="window.location='/backendapi'" style="background-color: teal">
        Backend API
    </button>
</body>
</html>